.bg-rosa{
	background: #ff728e;
}

.jumbotron {
	background: #fdcfd5;
}

.intro {
	margin-top: -35px;
}

.card{
	margin-left: 50px;
}

.card2{
	margin-left: 300px;
}

.bg2{
	background: #ffc1df;
	margin-top: 30px;
}